*{
    margin: 0px;
}

/* header */

.container{
    margin: 0 auto;
	width: 80%;
	/* position: fixed; */
}
.container>header{
	background-color:lightslategray;
    height: 10vh;
    width: 79%;
	position: fixed;
	z-index:100;
	/* overflow: hidden;
	list-style-type: none; */
}
.container>header>h1{
    float: left;
	padding: 25px;
	color: skyblue;

}
.container>header>h1:hover{
    float: left;
	padding: 25px;
	color: silver;

}
#ul{
    display: table;
    float: right;
}
#ul>li{
    position: relative;
    display: table-cell;
    padding-right: 43px;
    top: 32px;
    font-size: 26px;
 
}
#ul>li>a{
	color: skyblue;
    text-decoration: none;
}
#ul>li>a:hover{
    color:orange;
}

/* about section */

.about{
    background-image: url(../img/zurag2.jpg);
	background-size: cover;
	background-position: center;
    min-height: 888px;
}
#main{
	position: relative;
	top: 15vh;
	padding: 50px;
	top: 17vh;
	
}

#about-img{
	width: 400px;
    height: 400px;
    background: url(../img/IMG_5741.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin: 10px;
    shape-outside: circle();
}

#main>h2{
position: relative;
top: 26px;
left: 9%;
}
#main>p{
	line-height: 31px;
}
#info{
	min-height: 57vh;

}

#info .top{
	padding: 10px;
	position: relative;
	text-align: center;
	background-color: lightgrey;
	min-height: 63vh;
	
}

/* portfoliio btn */
.socialmedia{
	font-size: 53px;
	position: relative;
	top: 4px;
}
.socialmedia>a{
	padding: 10px 21px 10px 21px;
}
#click-btn{
	font-size: 25px;
	position: relative;
	top: 109px;
}

#click-btn>a{
	text-decoration: none;
}

#info .bottom {
	 display: grid;
  	 grid-template-columns: auto auto auto;
 	 grid-row-gap: 5px;
 	 grid-column-gap: 96px;
 	 background-color:rgb(92, 92, 121);
 	 padding: 10px;
	min-height: 257px;

}

 #info .bottom div{
 	 background-color: white;
 	 text-align: center;
 	 padding: 20px;
 	 font-size: 13px;
 }

 #info .bottom button{
 	font-size: 66px;
 	background-color: lightblue;
 }

/* project section */

.project{
	margin: 0px;
	min-height: 792px;
	position: relative;
	top:10px
}

 .text{

	text-align: center;
 }
 .text>p{
	 position: relative;
	 top: 43px;
 }
 #items {
	position: relative;
    top: 55px;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
	justify-content: space-around;
	
}
#img{
	padding:7px;
}

 
 /* #items {
 	 display: grid;
  	 grid-template-columns: auto auto auto;
 	 grid-row-gap: 5px;
 	 grid-column-gap: 96px;
 	 padding: 10px;
	height: 257px;
	width: 80%;

 } */

/* #items div{
 	 text-align: center;
 	 
	font-size: 0px;
		
 } */


/* #items{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
}
#items>div{
	padding: 10px 20px;
	
	
} */


/* contact section */

 .contact{
 	position: relative;
	background-color: lightgrey;
 	top:40px;
 	min-height: 47vh;
 	text-align: center;
 }
.contact form{
	position: relative;
	border-color: white;
	display: block;
}

.contact form input,textarea {
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color:black;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 30%;
}

.contact form span{
	font-size: 19px;
	display: block;
	
}
.contact form button{
	font-size: 36px;
	background-color: transparent;
    border-color: white;
}


/* footer section */

footer{
	background-color: lightblue;
	position: relative;
	top: 40px;
    min-height: 100px;
    text-align: center;
    	
}
footer p{
	position: relative;
	top: 37px;
	font-size: 16px;
	color:silver;
}
footer p:hover{
	position: relative;
	top: 37px;
	font-size: 16px;
	color:blue;
}

			/* media quary starts here */

/* @media screen and (max-width: ){

} */


