*{
    margin: 0px;
}

/* header */

.container{
    margin: 0 auto;
    width: 80%;
}
header{
	background-color: lightblue;
    height: 10vh;
    width: 80%;
    position: fixed;
}
header>h1{
    float: left;
    padding: 25px;

}
#ul{
    display: table;
    float: right;
}
#ul>li{
    position: relative;
    display: table-cell;
    padding-right: 43px;
    top: 32px;
    font-size: 26px;
 
}
#ul>li>a{

    text-decoration: none;
}
#ul>li>a:hover{
    color:orange;
}

/* about section */

#bar{
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 802px;
}

/* #bar hr{
	position: absolute;
    border-color: red;
    border-width: 3px;
    width: 50%;
    top: 50%;
    left: 25%;
    
} */

#bar p{
	position: absolute;
    color: white;
    width: 50%;
    top: 54%;
    left: 39%;
}
#bar button{
	position: absolute;
    color: white;
    width: 6%;
    height: 36px;
    top: 65%;
    left: 46%;

}
#bar i{
    position: absolute;
    font-size: 51px;
    font-weight: normal;
    color: red;
    top: 79%;
    left: 48%;
}

/* portfolio section */

#info .top{
	padding: 10px;
	position: relative;
	text-align: center;
	background-color: lightgrey;
	height: 53vh;

}
#info .bottom {
	 display: grid;
  	 grid-template-columns: auto auto auto;
 	 grid-row-gap: 5px;
 	 grid-column-gap: 96px;
 	 /*background-color:;*/
 	 padding: 10px;
 	 height: 257px;
}
 #info .bottom div{
 	 background-color: white;
 	 text-align: center;
 	 padding: 20px;
 	 font-size: 13px;
 }

 #info .bottom button{
 	font-size: 66px;
 	background-color: lightblue;
 }

/* service section */
.service{
    height: 43vh;
}

 .text{
 	text-align: center;
 }

 #features {
 	 display: grid;
  	 grid-template-columns: auto auto auto;
 	 grid-row-gap: 5px;
 	 grid-column-gap: 96px;
 	 padding: 10px;
 	 height: 257px;
 }
 #features div{
 	 text-align: center;
 	 padding: 36px;
   	 font-size: 0px;
 }

/* contact section */

 #contact{
 	position: relative;
 	background-color: lightgrey;
 	top:401px;
 	height: 460px;
 	text-align: center;
 }
#contact form{
	position: relative;
	border-color: white;
	display: block;
}
#contact form input, textarea{
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: #fff;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 30%;
}
#contact form span{
	font-size: 16px;
	display: block;
}
#contact form button{
	font-size: 36px;
	border-radius: 0px;
	/*color: lightblue;*/
	background-color: transparent;
    border-color: white
}
#contact h1 p form{
	margin: 0px;
	padding: 0px;
	height: 0px;
}

/* footer section */

footer{
	background-color: lightblue;
	position: relative;
	top: 384px;
    height: 100px;
    text-align: center;
    	
}
footer p{
	position: relative;
	top: 37px;
	font-size: 16px;
	color:silver;
}
footer p:hover{
	position: relative;
	top: 37px;
	font-size: 16px;
	color:blue;
}

/* footer .socialmedia{
	position: relative;
	float: right;
	font-size: 50px;
	right: 103px;
	bottom: 2px;
	color: #34ebe5;

} */
/* .socialmedia i{
	letter-spacing: 47px;

} */


/* @media screen and (max-width:1526px){
	body{
		background-color: blue;
	}

	 #features {
	 	background-color: blue; */
/* 	 display: grid;
  	 grid-template-columns: auto auto auto;
 	 grid-row-gap: 5px;*/
 	 /* grid-column-gap: 64px; */
/* 	 padding: 8px;
 	 height: 257px;*/
 	/* } */

 /*#features div{
 	 text-align: center;
 	 padding: 36px;
   	 font-size: 0px;
 	

 	}*/

/* } */


